<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Register</title>
</head>
<body>
    <div class="navbar-fixed scrollspy" id="#home" >
<nav style="background-color:#26a69a">
   <div class="nav-wrapper ">
      <a href="" class="brand-logo" style="margin-left:10px">Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#home">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

</body>
</html>