{% extends 'posts/layout.html' %}

{% block content %}
<h3> Add Blog </h3>
        <form method="POST" action="insert">
            {% csrf_token %}
          <div class="form-group">
            <label>Title</label>
              <input placeholder="Title" id="blogtitle" name="blogtitle" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Body</label>
            <textarea id="blogbody" name="blogbody" class="form-control" style="height:9rem"></textarea>
          </div>
          <button type="submit" name="action" class="btn btn-primary" style="background:#26a69a;border-color:#26a69a">Submit</button>
            <a href="/posts" class="btn btn-primary" style="background:#26a69a;border-color:#26a69a">Go back</a>
        </form>
{% endblock %}